@page
@model Application_Security_Project_v2.Pages.Errors._400Model
@{
    ViewData["Title"] = "Error 400 - Bad Request";
}

<h1>@ViewData["Title"]</h1>

<p>Server rejected request due to an error. If this error persists, contact your adminstrator</p>
