@page
@model Application_Security_Project_v2.Pages.Errors._403Model
@{
    ViewData["Title"] = "Error 403 - Forbidden";
}

<h1>@ViewData["Title"]</h1>

<p>Server refused to authorize request. If you should be authorized, contact your adminstrator</p>