@page
@model Application_Security_Project_v2.Pages.Errors._404Model
@{
    ViewData["Title"] = "Error 404 - Page Not Found";
}

<h1>@ViewData["Title"]</h1>

<p>Page cannot be found. If you should find the page, contact your adminstrator</p>