@page
@model Application_Security_Project_v2.Pages.Errors._500Model
@{
    ViewData["Title"] = "Error 500 - Internal Server Error";
}

<h1>@ViewData["Title"]</h1>

<p>Internal Server Error has occured. If the issue persists, please contact your adminstrator</p>
