@page
@model Application_Security_Project_v2.Pages.FailedCaptchaModel
@{
    ViewData["Title"] = "Failed Captcha";
}

<h1>@ViewData["Title"]</h1>

<h3>Could not verify that you were human. Please try again later.</h3>
